@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model List<Auto>


<div class="container-fluid py-5 mb-4 d-flex justify-content-center" style="  background-image: url('/Assets/img/hans-m-OTnkae1syxk-unsplash.jpg');
            background-position: center;
            background-size:cover;
            background-repeat:no-repeat;
            background-color:#444;
            background-blend-mode: overlay;">
    <div class="p-5 mt-5 lc-block col-xxl-7 col-lg-8 col-12 align-self-center text-center" style="height: 300px;">
        <div class="lc-block">
            <div editable="rich">
                <h2 class="fw-bolder display-3" style="color: white;">Le nostre auto</h2>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (Auto auto in Model)
        {
            <div class="col-6">


                <div class="card border rounded-0 me-2">
                    <img src="@auto.UrlImmagine" class="card-img-top" width="100%">
                    <div class="card-body pt-0 px-0 mt-3">
                        <div class="d-flex flex-row justify-content-between mb-0 px-3 mt-3 align-text-bottom">
                            <div class="d-flex flex-column"><h6 class="fw-bold">@auto.MarcaAuto<br /></h6><h6>@auto.NomeModello</h6></div>
                        </div>           
                        <div style="background: #ECEDF1" class="d-flex flex-row justify-content-between p-3 mid mt-4">
                            <div class="d-flex flex-column"><small class="text-muted mb-1">CARBURANTE</small><div class="d-flex flex-row"><img src="https://imgur.com/iPtsG7I.png" width="35px" height="25px"><div class="d-flex flex-column ml-1 align-self-center"><small class="ghj">@auto.Specifiche.Alimentazione</small></div></div></div>                      
                            <div class="d-flex flex-column">
                                <small class="text-muted mb-1">TIPO</small><div class="d-flex flex-row">
                                    <div class="d-flex flex-column ml-1 align-self-center">
                                        <div class="d-flex flex-column">
                                            @if (auto.Usata)
                                            {
                                                <small class="ghj">USATA</small>
                                            }
                                            else
                                            {
                                                <small class="ghj">NUOVA</small>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="d-flex flex-column"><small class="text-muted mb-2">POTENZA</small><div class="d-flex flex-row"><img src="https://imgur.com/J11mEBq.png"><small class="align-self-center ml-1">@auto.Specifiche.Potenza CV</small></div></div>
                        </div>
                        <h5 class="fw-bold text-center mt-3">€ @auto.Prezzo</h5>
                        <div class="mx-3 mt-3 mb-2 text-center"><button type="button" href="@Url.Action("DettagliMacchina", "Auto", new { id = auto.Id })" class="btn btn-outline-dark"><small>VISUALIZZA</small></button></div>
                        <button class="like-button">
                            <div class="like-wrapper">
                                <div class="ripple"></div>
                                <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                                </svg>
                                <div class="particles" style="--total-particles: 6">
                                    <div class="particle" style="--i: 1; --color: #7642F0"></div>
                                    <div class="particle" style="--i: 2; --color: #AFD27F"></div>
                                    <div class="particle" style="--i: 3; --color: #DE8F4F"></div>
                                    <div class="particle" style="--i: 4; --color: #D0516B"></div>
                                    <div class="particle" style="--i: 5; --color: #5686F2"></div>
                                    <div class="particle" style="--i: 6; --color: #D53EF3"></div>
                                </div>
                            </div>
                        </button>

                    </div>
                </div>

            </div>
        }
    </div>

    <div class="col-4 text-bg-secondary order-first me-3" id="sidebar" style=" height: 100vh">
        <form asp-controller="Auto" asp-action="Index" asp-route-id="Id" method="post" class="p-5">
                <div class="mb-3">
                    <label  class="form-label">Marca</label>
                    <input  type="text" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Modello</label>
                    <input  type="text" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Tipo</label>
                    <input  type="text" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Anno di Immatricolazione</label>
                    <input  type="number" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Kilometraggio</label>
                    <input  type="number" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Alimentazione</label>
                    <input  type="number" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label   class="form-label">Stato Macchina</label>
                    <select  class="form-select" aria-label="Usata?">
                        <option value="True" selected>Usata</option>
                        <option value="False">Nuova</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

