@model List<Auto>

@if (User.IsInRole("ADMIN"))
{
    <a class="btn btn-outline-light btn-lg" href="@Url.Action("Create", "Auto")" role="button">Crea nuova auto</a>
}





@foreach (Auto auto in Model)
{
    <div class="container min-vh-100 d-flex align-items-center ">
        <div class="row">
            <div class="col-md-4">
                <div class="lc-block">
                    <div class="card shadow-lg p-3 bg-white text-dark">
                        <img class="card-img-top" src="@auto.UrlImmagine" alt="" loading="lazy">
                        <div class="card-body text-center">
                            <h3 class="card-title mb-5" editable="inline">@auto.NomeModello</h3>
                            <p>@auto.Descrizione</p>
                            <a class="btn btn-outline-light btn-lg" href="@Url.Action("DettagliMacchina", "Auto", new {id = auto.Id})" role="button">Visualizza</a>
                            @if (User.IsInRole("ADMIN"))
                            {
                                <a class="btn btn-warning btn-sm mt-2" href="@Url.Action("Update", "Auto", new {id = auto.Id})">Modifica</a>
                                <form asp-controller="Article" asp-action="Delete" asp-route-id="@auto.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger btn-sm mt-2">Cancella</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    </main>