@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model ModelloVenditaAutoUtente

<div class="container-fluid py-5 mb-4 d-flex justify-content-center" style="  background-image: url('/Assets/img/hans-m-OTnkae1syxk-unsplash.jpg');
            background-position: center;
            background-size:cover;
            background-repeat:no-repeat;
            background-color:#444;
            background-blend-mode: overlay;">
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Compila il form per concludere l'acquisto:</h1>
            <form asp-controller="Auto" asp-action="VenditaAuto" asp-route-id="@Model.Vendita.AutoId" method="post" class="p-5">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger">
                    <div class="mb-3">
                        <label asp-for="@Model.Vendita.NomeUtente" class="form-label">Nome</label>
                        <input asp-for="@Model.Vendita.NomeUtente" class="form-control" required />
                        <span asp-validation-for="@Model.Vendita.NomeUtente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Vendita.NomeUtente" class="form-label">Conferma il tuo nome:</label>
                        <input asp-for="@Model.Vendita.NomeUtente" class="form-control" required />
                        <span asp-validation-for="@Model.Vendita.NomeUtente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Vendita.CognomeUtente" class="form-label">Cognome</label>
                        <input asp-for="@Model.Vendita.CognomeUtente" class="form-control" required />
                        <span asp-validation-for="@Model.Vendita.CognomeUtente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Vendita.CognomeUtente" class="form-label">Conferma il tuo cognome:</label>
                        <input asp-for="@Model.Vendita.CognomeUtente" class="form-control" required />
                        <span asp-validation-for="@Model.Vendita.CognomeUtente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Vendita.EmailUtente" class="form-label">Email</label>
                        <input asp-for="@Model.Vendita.EmailUtente" class="form-control" required />
                        <span asp-validation-for="@Model.Vendita.EmailUtente" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Vendita.EmailUtente" class="form-label">Conferma la tua email:</label>
                        <input asp-for="@Model.Vendita.EmailUtente" class="form-control" required />
                        <span asp-validation-for="@Model.Vendita.EmailUtente" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-info">Invia</button>
                </div>
            </form>
        </div>
    </div>
</div>