@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model ModelloMacchinaComplesso

<div class="container text-bg-light mt-5">
    <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Auto.Id" method="post" class="p-5">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="@Model.Auto.Id" class="form-label">Id Auto</label>
            <input asp-for="@Model.Auto.Id" type="text" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.NomeModello" class="form-label">Nome del modello</label>
            <input asp-for="@Model.Auto.NomeModello" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.NomeModello" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.Descrizione" class="form-label">Descrizione</label>
            <textarea asp-for="@Model.Auto.Descrizione="10" class="form-control" required></textarea>
            <span asp-validation-for="@Model.Auto.Descrizione="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.UrlImmagine" class="form-label">URL Immagine</label>
            <input asp-for="@Model.Auto.UrlImmagine type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.UrlImmagine" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#000">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#FFFFFF">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#adb5bd">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#dc3545">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#0d6efd">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#ffc107">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#198754">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#563d7c">
            <input asp-for="@Model.Auto.Colore" type="color" class="form-control form-control-color" value="#F8C8DC">
            <span asp-validation-for="@Model.Auto.Colore" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Auto.Prezzo" class="form-label">Prezzo</label>
            <input asp-for="@Model.Auto.Prezzo" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.Prezzo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.AnnoImmatricolazione" class="form-label">Anno di immatricolazione</label>
            <input asp-for="@Model.Auto.AnnoImmatricolazione" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.AnnoImmatricolazione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.NumeroAutoNelConcessionario" class="form-label">Numero di Auto Disponibili Nel Concessionario</label>
            <input asp-for="@Model.Auto.NumeroAutoNelConcessionario" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.NumeroAutoNelConcessionario" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.AnnoInizioProduzione" class="form-label">Anno di inizio produzione</label>
            <input asp-for="@Model.Auto.AnnoInizioProduzione" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.AnnoInizioProduzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Auto.AnnoFineProduzione" class="form-label">Anno di fine produzione</label>
            <input asp-for="@Model.Auto.AnnoFineProduzione" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Auto.AnnoFineProduzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select asp-for="@Model.Auto.Usata" class="form-select" aria-label="Usata?">
                <option value="@Model.Auto.Usata" selected>@Model.Auto.Usata</option>
                <option value="@Model.Auto.Usata">Nuova</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Salva</button>
    </form>
</div>