@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model Modello

<div class="container mt-5">
    <form asp-controller="Admin" asp-action="ModifyModello" asp-route-id="@Model.Id" method="post" class="p-5">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="@Model.Nome" class="form-label">Paese d'origine:</label>
            <input asp-for="@Model.Nome" type="text" class="form-control" required>
            <span asp-validation-for="@Model.Nome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.AnnoInizioProduzione" class="form-label">Paese d'origine:</label>
            <input asp-for="@Model.AnnoInizioProduzione" type="text" class="form-control" required>
            <span asp-validation-for="@Model.AnnoInizioProduzione" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.AnnoFineProduzione" class="form-label">Paese d'origine:</label>
            <input asp-for="@Model.AnnoFineProduzione" type="text" class="form-control" required>
            <span asp-validation-for="@Model.AnnoFineProduzione" class="text-danger"></span>
        </div>
    </form>
 </div>