@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container my-5">
    <div class="row d-flex">
        <div class="col-12 d-flex justify-content-center">


        <a href="@Url.Action("CreateAuto","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi una macchina </a>

        <a href="@Url.Action("Update","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiorna una macchina </a>
        </div>
        <div class="col-12 d-flex justify-content-center">

        <a href="@Url.Action("placeholder3","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi un tipo </a>


            <button class="btn btn-primary my-2 mx-2 col-3 me-2" data-bs-toggle="modal" data-bs-target="#dbModal">
                Acquisisci macchine
            </button>
        </div>
        <div class="col-12 d-flex justify-content-center">

            <a href="@Url.Action("placeholder1","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi una marca </a>


            <a href="@Url.Action("placeholder2","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi un modello </a>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <a href="@Url.Action("Delete","Admin")" class="btn btn-danger my-2 mx-2 col-3 me-2"> Rimuovi una macchina </a>
        </div>
    </div>
</div>

<div class="modal fade modal-dialog modal-dialog-centered" id="dbModal" tabindex="-1" aria-labelledby="dbModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dbModalLabel">Attenzione!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    L'auto è già presente nel database?
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="@Url.Action("CreateAuto","Admin")">No</a>
                <a type="button" class="btn btn-primary" href="@Url.Action("AcquisisciMacchina","Admin")">Sì</a>
            </div>
        </div>
    </div>
</div>