

<div class="container">
    <div class="row d-flex">
        <div class="col-12">
            <h1 class="mb-5 mt-3">Benvenuto nel pannello admin!</h1>
            <p>Da qui puoi modificare,aggiungere e/o rimuovere auto, tipi di auto, marche e modelli.
                Puoi anche procedere all'acquisto di auto da mettere in inventario.
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-12 text-center">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Aggiungi</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th scope="col">Aggiorna</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                    <tr>
                       
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" CreateAuto","Admin")">Auto</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>  
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" ModifyAuto","Admin")">Auto</a>
                        </td>                      
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" CreateMarca","Admin")">Marca</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" ModifyMarca","Admin")">Marca</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" CreateModello","Admin")">Modello</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" ModifyModello","Admin")">Modello</a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" CreateTipo","Admin")">Tipo</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a type="button" class="btn btn-primary col-6" href="@Url.Action(" ModifyTipo","Admin")">Tipo</a>
                        </td>
                    </tr>
               
                </tbody>
            </table>
           
        </div>     
    </div>
    <div class="row text-center">
        <div class="col-6">
            <a type="button" class="btn btn-primary" href="@Url.Action("AcquistoAutoPresenteNelConcessionario","Admin")">Acquista un'auto già presente nel concessionario</a>
        </div>   
        <div class="col-6">
            <a type="button" class="btn btn-primary" href="@Url.Action("AcquistoAutoNuova","Admin")">Acquista un'auto non presente nel concessionario</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <a @Url.Action("ListaMacchineAdmin", "Admin" )" class="btn btn-danger my-2 mx-2 me-2">Rimuovi</a>
        </div>
    </div>
</div>


@*<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-sm-12">
            <a data-bs-toggle="modal" data-bs-target="#AddModal" class="btn btn-primary my-2 mx-2 col-3 me-2">
                Aggiungi
            </a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <a data-bs-toggle="modal" data-bs-target="#UpdateModal"
               class="btn btn-primary my-2 mx-2 col-3 me-2">Modifica</a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <a href="@Url.Action(" ListaMacchineAdmin", "Admin" )"
               class="btn btn-success my-2 mx-2 col-3 me-2">Acquista</a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <a @Url.Action("ListaMacchineAdmin", "Admin" )" class="btn btn-danger my-2 mx-2 col-3 me-2">Rimuovi</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
           

        </div>
    </div>
</div>
<div class="modal fade modal-dialog modal-dialog-centered" id="UpdateModal" tabindex="-1"
     aria-labelledby="dbModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a type="button" class="btn btn-primary" href="@Url.Action(" ModifyAuto","Admin")">Auto</a>
                <a type="button" class="btn btn-primary" href="@Url.Action(" ModifyMarca","Admin")">Marca</a>
                <a type="button" class="btn btn-primary" href="@Url.Action(" ModifyModello","Admin")">Modello</a>
                <a type="button" class="btn btn-primary" href="@Url.Action(" ModifyTipo","Admin")">Tipo</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-dialog modal-dialog-centered overflow-hidden " id="AddModal" tabindex="-1"
     aria-labelledby="dbModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <a type="button" class="btn btn-primary" href="@Url.Action(" CreateAuto","Admin")">Auto</a>
                <a type="button" class="btn btn-primary" href="@Url.Action(" CreateMarca","Admin")">Marca</a>
                <a type="button" class="btn btn-primary" href="@Url.Action(" CreateModello","Admin")">Modello</a>
                <a type="button" class="btn btn-primary" href="@Url.Action(" CreateTipo","Admin")">Tipo</a>
            </div>
        </div>
    </div>
</div>*@