@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container my-5">
    <div class="row d-flex">
        <div class="col-12 d-flex justify-content-center">


        <a href="@Url.Action("CreateAuto","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi una macchina </a>

        <a href="@Url.Action("Update","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiorna una macchina </a>
        </div>
        <div class="col-12 d-flex justify-content-center">

        <a href="@Url.Action("placeholder3","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi un tipo </a>


        <a href="@Url.Action("AcquisisciMacchina","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Acquisisci macchine </a>
        </div>
        <div class="col-12 d-flex justify-content-center">

            <a href="@Url.Action("placeholder1","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi una marca </a>


            <a href="@Url.Action("placeholder2","Admin")" class="btn btn-primary my-2 mx-2 col-3 me-2"> Aggiungi un modello </a>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <a href="@Url.Action("Delete","Admin")" class="btn btn-danger my-2 mx-2 col-3 me-2"> Rimuovi una macchina </a>
        </div>
    </div>
</div>